:root {
  --background-color: rgb(255, 255, 255);
  --line-color: rgb(170, 170, 170);
  --grid-size: 50;
  --border-thin: 1px solid var(--line-color);
  --border-thick: 4px solid var(--line-color);
  --grid-container-dimensions: 600px;
  --color1: rgb(192, 83, 83);
  --color2: ;
  --color3: rgb(104, 205, 223);
  height: 100%;
  font-family: Menlo;
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
}

main {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  background-color: var(--color1);
  border-radius: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}

#sketch-container {
  grid-row: 2 / 2;
  grid-column: 2 / 3;
  height: var(--grid-container-dimensions);
  width: var(--grid-container-dimensions);
}

#sketch-grid {
  border-top: var(--border-thin);
  border-left: var(--border-thin);
  /* margin: 10px; */
  /* background-color: var(--line-color); */
  /* padding: 1px; */
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(var(--grid-size), auto);
  grid-template-columns: repeat(var(--grid-size), auto);
  justify-content: stretch;
}

#controls-left {
  grid-row: 2 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#controls-right {
  grid-row: 2 / 2;
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls-bottom {
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

input[type="radio"] {
  display: none;
  margin: 10px;
}

input[type="radio"] + label {
  /* display: inline-block; */
  /* margin: -2px; */
  text-align: center;
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
}

input[type="radio"]:checked + label {
  background-color: #d0d0d0;
}

input[type="range"] {
  width: 100%;
}

button {
  padding: 4px 12px;
  background-color: #e7e7e7;
  border-color: #ddd;
  font-family: Menlo;
  font-size: 16px;
  border-style: none;
}

.grid-box {
  background-color: var(--background-color);
}

.grid-lines-bottom-right {
  border-right: var(--border-thin);
  border-bottom: var(--border-thin);
}
